.stock-table-wrapper {
    margin: 20px; 
  }
  
  .stock-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000; 
  }
  .stock-table th {
    border: 1px solid #000;
    padding: 8px; 
  }
  
  .stock-table td {
    border: 1px solid #000;
    padding: 8px; 
  }

  .arrow-icons i {
    font-size: 24px;
    color: green;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .arrow-icons i.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .stock-table td {
    cursor: pointer;
  }